/**
 * Created by shiyanlin
 * 810975746@qq.com
 */
.home {
  background: #666;
}
.home .content {
  font-size: 16px;
}
.home .bg-test {
  background-image: url(images/83d17a29.1.png);
  height: 140px;
}
/**
 * Created by shiyanlin
 * 810975746@qq.com
 */
.list {
  background: #888;
}
.list .item {
  width: 100px;
  height: 200px;
}
/**
 * Created by shiyanlin
 * 810975746@qq.com
 */
body {
  border: 1px solid black;
}
